<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardvirus - Depoimentos</title>

    <link rel="stylesheet" href="{{URL}}/MVC/Resources/View/Pages/css/pagina.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>
<body>
    <header class="abrigar">
        <div class="container">
            <div class="containerflex">
                <div class="guardvirus">
                    <a href="{{URL}}/"><img src="/../sprint/MVC/Resources/guardvirus.png"></a>
                </div>
                <div class="menu">
                    <nav>
                        <ul class="menu_items">
                            <li class="items"><a class="hover" href="{{URL}}">Home</a></li>
                            <li class="submenu"><a class="hover" href="#">Temos que decidir</a>
                                <ul class="items_submenu">
                                    <li class="sub_item"><a class="hover_sub" href=""> 1</a></li>
                                    <li class="sub_item"><a class="hover_sub" href="">2</a></li>
                                    <li class="sub_item"><a class="hover_sub" href="">3</a></li>
                                </ul>
                            </li>
                            <li class="items"><a class="hover" href="{{URL}}/depoimentos">Depoimentos</a></li>
                            <li class="items"><a class="hover" href="#">Noticias</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="button_acesso_conta">
                    <a href="{{URL}}/cadastro"><button class="button1">Cadastro</button></a>
                    <a href=""><button class="button2">Login</button></a>
                </div>
            </div>
        </div>
    </header>
    <section class="abrigar2">
        <div class="container">
            <h1 class="titulo_blocos">
                <strong>
                    Depoimentos
                </strong>
            </h1>
            <nav class="centralizar">
                {{itens}}
                {{pagination}}
            </nav>
        </div>
    </section>
    <hr>
    <section id="form">
        <h3>Comente aqui a sua opinião</h3>
        <form method="Post" action="?page=1">
            <div class="depoimento-form">
                <label id="nome">Nome</label>
                <input id="menssagem" type="text" name="nome">
            </div>
            <div class="depoimento-form">
                <label id="nome">Mensagem</label>
                <textarea id="textarea" placeholder="Comente Aqui" name="mensagem"></textarea>
            </div>
            <div class="Comentar-btn">
                <button id="Comentar" type="submit">Comentar</button>
            </div>
        </form>
    </section>
</body>

</html>