.body{
    background-color: #333;
}
.menu-btn{
    position: absolute;
    margin: 25px;
    cursor: pointer;
    }
.side-bar{
    background-color: #333;
    border-right:  2px solid #89c53f;
    width: 22%;
    height: 100vh;
    position:fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s;
    transition-property: left;
    }
    .side-bar.active{
    left: 0;
    }
    .side-bar .menu{
    width: 100%;
    padding-top: 5rem;
    }
    .side-bar .menu .item{
    position: relative;
    cursor: pointer;
    }
    .side-bar .menu .item a{
    color: white;
    fill: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 18px 20px;
    line-height: 30px;
    }
    .side-bar .menu .item a:hover{
    background-color: #89c53f;
    transition: 0.3s;
    }
    .side-bar .menu .item a .dropdown{
    position: absolute;
    margin: 16px;
    right: 0;
    transition: 0.3s;
    }
    .side-bar .menu .item svg{
    margin-right: 10px;
    }
    .side-bar .menu .item .sub-menu{
    display: none;
    } 
    .side-bar .menu .item .sub-menu a{
    padding-left: 70px;
    }
    .rotate{
    transform: rotate(90deg);
    }
    .close-btn{
    position: absolute;
    margin: 25px;
    right: 0;
    cursor: pointer;
    }
    .container{
      min-height: 60vh;
      display: flex;
      justify-content: center;
      align-items: end;
      padding-bottom: 20px;
    }
    .container .content{
    text-align: center;
    }
    .container .content h3{
    font-size: 30px;
    color: #fff;
    }
    span{
    background-color: #89c53f;
    color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
    }
    .container .content h1{
    font-size: 50px;
    color: #fff;
    }
    .container .content p{
    color: gray;
    padding-top: 10px;
    padding-bottom: 1.5rem;
    }
   .btn{
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    background: #222;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
    margin: 0 5px;
    text-decoration: none;
    transition: 0.5s;
    transition-delay: 0.1s;
    font-weight: 500;
    }
    
    .btn:hover{
     background: #89c53f;
     color: #222;
    }
    .btn-position2{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 10px;
    }
    .btn-position-excluir{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .btn-position-excluir button{
        background-color: rgb(179, 20, 20);
        color: #fff;
        border:1px solid transparent;
    }
    .btn-excluir{
        padding: 10px 30px;
        font-size: 20px;
        color: #fff;
        border-radius: 7px ;
        box-shadow: 1px 1px 1px 1px rgba(0, 0.15, 0, 0.15);
        margin: 0 5px;
        text-decoration: none;
        transition: 0.5s;
        transition-delay: 0.1s;
        font-weight: 500;
    }
    .Comentar-btn{
        width: 100%;
        display: flex;
        justify-content: start;
    }
    #Comentar{
        padding: 5px 10px;
        border-radius: 5px;
        border: transparent;
        transition: 0.3s;
        text-decoration: none;
        color: #fff;
        box-shadow: 5px 5px 5px 5px rgba(0, 0.15, 0.15, 0.15);
        background-color: #222;
    }
    #Comentar:hover{
        background-color: #89c538;
        color: #fff;
    }
    .container_Admin
    {
          padding: 20px;
    }
    .definition
    {
        display: flex;
        justify-content: center;
    }
     th{
        width: 200px;
     }
     .btn2
     {
        padding: 10px 30px;
        font-size: 20px;
        color: #fff;
        border-radius: 7px ;
        box-shadow: 1px 1px 1px 1px rgba(0, 0.15, 0, 0.15);
        margin: 0 5px;
        text-decoration: none;
        transition: 0.5s;
        transition-delay: 0.1s;
        font-weight: 500;
     }
     .btn2:hover
     {
        background: #89c53f;
        color: #222;
     }

     #Comentar2{
        padding: 10px 30px;
        border-radius: 5px;
        border: transparent;
        transition: 0.3s;
        text-decoration: none;
        color: #222;
        box-shadow: 5px 5px 5px 5px rgba(0, 0.15, 0.15, 0.15);
        background-color:#89c53f;
    }
    .Comentar-btn2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /* css do forms */
    #form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10vh;
     }
     #form > h3{
      text-align: center;
      padding: 2vh;
     }
     #form > form{
         max-width: 50vw;
         width: 100%;
         border: transparent;
     }
     .depoimento-form{
         display: flex;
         flex-direction: column;
         padding-top: 2vh;
         padding-bottom: 2vh;
     }
     #nome{
         padding-bottom: 1vh;
         color: #fff;
     }
     #menssagem{
         border-radius: 5px;
         border: 1px solid #424242;
         height: 5vh;
         color: black;
     }
     #textarea{
         border-radius: 5px;
         height: 20vh;
     }
